# Supabase projenizin Settings > API sayfasından alın:
# https://supabase.com/dashboard/project/_/settings/api
EXPO_PUBLIC_SUPABASE_URL=https://fdcxwxjixqbbsbobizqw.supabase.co/rest/v1/
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Q1Ym7lciUTKqpVj0YPYZTQ_5oZdb7xK

# Bu dosyayı .env olarak kopyalayıp kendi değerlerinizi girin:
#   cp .env.example .env
